fa fa gear {
    flex: 0.1
}

#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#ratings {
    padding-left: 0;
}

#companyDetails {
    padding-left: 100px;
    margin-left: 15%;
}

#profileImage {
    max-height: 200px;
    max-width: 200px;
}

img {
    float: left;
}

airline-admin {
    visibility: hidden;
}

card-img {

    width: 100%;
}

.card-body {
    padding: 15px;
}

#filters {
    margin-bottom: 20px;
    margin-top: 10px;
}

input.form-control, select.form-control, div.form-group > button {
    margin-left: 5px;
}

button.form-group {
    margin-left: 5px;
}

img.ads {
    width: 100%;
    height: inherit;
}

/* Tabs begin*/
section[id='tabs'] {
    padding: 60px 0;
}

section[id='tabs'] .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
    background: white;
}


#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: transparent transparent black;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 20px;
}
@media (min-width: 768px) {
    #Listing-col-md-9 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
/* End Tabs */

ul#hotelServicesList>li
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: silver;
    display:block;
    float:left;
    width:fit-content;
    heigh:40px;
    padding: 5px;
}
#hotelServices {
    overflow: scroll;
}
div.form-control{
    height: auto;
    margin: 5px;
}