#addForm > div.form-group  {
    width: 60%;
    margin: 10px auto;
}
 .boxForm  {
 width: 80%;
 margin: 10px auto;
 }
 .boxForm div.form-group , btn-form {
     width: 80%;
     margin: 0 auto;
 }



@media (max-width:991px) {
    #addForm > div.form-group , .boxForm > div.form-group , btn-form{
        width: 100% !important;
    }
}
input, select{
    margin: 10px auto;
}
@media (max-width: 1000px)
{
    .boxForm {
        width: 100% !important;
    }

    #addForm, .boxForm
    {
        margin: 0 !important;
    }

}
#addForm  {
    margin: 0 150px 0 150px;
    background-color: #e9ecef;
    padding-bottom: 20px;

}
.boxForm {
    background-color: #e9ecef;
    padding-bottom: 20px;
}

#error{
    color:red;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
#success{
    color:green;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
 }