.wrapper{
    background: #497dd0;
    margin:0 auto;
    border-radius: 25px;
    height:44px;
    width: 430px;
}

.toggle_radio{
    position: relative;
    background: rgba(255,255,255,.1);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 46px;
    width: 636px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
}

@media (max-width:991px) {
    div.toggle_radio {
        margin:0 !important;
    }
}
@media (max-width: 1040px) {
    div.toggle_radio {
        margin: 5px !important;
    }
}
.toggle_radio label{
    font: 90%/1.618 "Source Sans Pro";
    color: rgba(255,255,255,.9);
    z-index: 0;
    display: block;
    width: 100px;
    height: 50px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}
.toggle_option_slider{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 215px;
}
#forth_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 325px;
}
label>p{
    font-size:20px;
}