#indexHighlight {
	max-width: 450px;
	max-height: 450px;
}
.btn-primary {
	background-color:#f4476b;
	color:#fff;
  	border:none;

}
.btn-primary:hover {
	opacity:1;
	background:#eb3b60;
}

.customer {
	visibility: hidden;
}

.distributor {
	visibility: hidden;
}

/*.not-logged {
	visibility: hidden;
}*/

.state-icon {
	left: -5px;
}
.list-group-item-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(66, 139, 202);
}

.well .list-group {
	margin-bottom: 0px;
}

li.list-group-item>input[type=checkbox] {
	float: left;
	margin: 5px auto;
}

div[name="error"]{
	color:red;
}
div[name="success"]{
	color:green;
}
